
.wrapper {
  background-color: #fff;
  color: #444;
}

.main-bar {
  width: 65%;
  background-color: #cadfec;
  color: #000000;
  border-radius: 5px;
  padding: 20px;
  display: inline-block;
}

.link-bar {
  width: 25%;
  padding: 20px;
  color: #000000;
  display: inline-block;
}

#code-area {
  width: 100%;
  min-height: 250px;
}

#code-output {
  width: 100%;
  padding: 0;
  min-height: 60px;
}

.hotkeys-hint {
  font-size: smaller;
  margin: 2px;
}

pre {
  padding: 10px;
  background-color: #e8e8e8;
}

code {
  background-color: #e8e8e8;
}


.CodeMirror {border: 1px solid black; font-size:16px}

#run-button {
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  padding: 10px 24px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin: 5px 0 !important;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

#run-button:hover {
  background-color: #4CAF50;
}
